**/target
*.class
*.log
*.iml

#project specific
*.db
*.tual

#metals specific
.bloop/
.metals/
metals.sbt

#sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/

#IDE specific
/.idea
/.vscode
/project/project
