.classic_btn {
    -fx-background-color: #09a;
    -fx-font: bold 12pt serif;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.classic_btn:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}