/* GLOBAL CSS */

@font-face {
    font-family: "berylium";
    src: url("Berylium.ttf");
}

Text {
    -fx-font-family: "berylium";
    -fx-font-size: 10pt;
}

.tual_btn {
    -fx-background-color: #09d;
    -fx-font-weight: bold;
    -fx-font-family: "berylium";
    -fx-text-fill: white;
    -fx-padding: 2px;
    -fx-border-width: 0px;
    -fx-border-color: black;
}
.tual_btn:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* SPLASH CSS */

.splash_btn {
    -fx-font-size: 10pt;
    -fx-min-width: 140px;
    -fx-min-height: 30px;
}

.splash_side {
    -fx-spacing: 9px;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.splash_story_title {
    -fx-background-color: white;
    -fx-font-weight: normal;
    -fx-font-family: "berylium";
    -fx-padding: 1;
    -fx-min-height: 22px;
    -fx-min-width: 190px;
}

.splash_story_title:hover {
    -fx-underline: true;
}

.splash_title {
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-font-family: "berylium";
}

/* CLASSIC CSS */
